<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Öğrenci Onay</title>

    <!-- Admin CSS-->
    <link href="css/admin.css" rel="stylesheet" media="all">

</head>

<body>


    <!-- The header -->
    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
            <a class="active">Home</a>
        </div>
    </div>

    <!-- The sidebar -->
    <div class="sidebar">
        <a id="main">Genel</a>
        <a id="studentApproval" class="active">Öğrenci Onay</a>
        <a id="roleAssign">Yetkinlik Atama</a>
    </div>

    <!-- Page content -->
    <div class="content">

    </div>

    <!-- Jquery JS--><script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src = 'js/register.js'></script>
    <script src = 'js/admin.js'></script>
</body>
</html>