<!DOCTYPE>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yetkili Kullanıcı Menu</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous"> -->
    <link rel = 'stylesheet' href= '/css/menu.css'/>
</head>
<body>
<div class = 'container'>
    <h1> Yetkili Kullanıcı Menüsü </h1>
    <div>
        <button type = 'button' class = 'btn btn-secondary'> Kullanıcı İşlemleri </button>
    </div>
    <div>
        <button type = 'button' class = 'btn btn-secondary'> Sınıf Oluşturma </button>
    </div>
    <div>
        <button type = 'button' class = 'btn btn-secondary'> Ders Oluşturma </button>
    </div>
    <div>
        <button type = 'button' class = 'btn btn-secondary'> Parametreler </button>
    </div>
    <div class = 'logout-btn'>
        <button type = 'button' class = 'btn btn-secondary' onclick = "location.href = '/perform_logout' "> Çıkış </button>
    </div>
</div>
</body>
</html>
