.create-term-container{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.term-container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.add-term-btn{
    text-align: center;
}
.term-info{
    margin-right: 150px
}
h3{
    cursor: pointer; 
}
.alert-danger{
    text-align: center;
}
table,th,td{
    background-color: lightblue;
    padding: 10px;
    border:1px solid black;
    border-collapse: collapse;
}
.add-term-btn{
    animation: cubic-bezier(1, 0, 0, 1);
    margin-bottom: 100px;
}