#slogan{
    position: relative;
    text-align: center;
    font-size:17px;
    font-weight: bold;
    text-shadow: 0.5px 0.866px 1px red;
    margin-bottom:10px;
}
.penmen{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-position: center;
}
.label {
    display: inline-block;
    color: wheat;
}
#select{
    width: 173px;
    background-color: black;
    color: wheat;
}
#user_ID{
    margin-right: 88px;
}
#entressForm{
    display:block;
    text-align:center;
    margin-left: 90px;
}
#button{
    display: inline-block;
    text-align: right;
    background-position: center;
    margin-left: 40px;
}
.warning{
    margin-left: 40%;
    color: red;
    font-size: small;
}
#entressMessage{
    text-align: center;
}
#LoginPage{
   position: relative;
    background-image: url("images/acibadem.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#LoginTitle{
    float: left;
    margin: 15px 25px 15px 25px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    line-height: 1.421;
    text-shadow: 0.5px 0.866px 1px #000001;
}
#LoginTopLine{
    height: 52px;
    position: relative;
    opacity: 70%;
}
#LoginPanel{
    width: 200px;
    height: 400px;
    margin: 50px auto 0  auto;
    padding: 0 60px 50px;
    background-color: teal;
    opacity: 90%;
    border-radius: 15px;
    background-position: center;
    padding-top: 30px;
}
#logo{
    background-image:url("images/penmen.png");
    background-size: cover;
    width:120px;
    height: 120px;
    border-radius: 50%;
    background-position-x:-25px;
    margin-left: 22%;
}
#form{
    margin:40px auto;
}
.input{
    width:200px;
    height: 25px;
    border-style: outset;
    border-radius:8px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    color:black;
    margin-bottom:10px;
}
::placeholder{
    opacity: 70%;
}
.login-images{
    width:23px;
    height:23px;
    float: left;
    background-size:cover;
}
.userInput i{
    display:block;
    position:absolute;
    margin: 2px 2px 2px 2px;  
}
#user-image{
    background-image:url("images/user-image.png");
    margin-top:3.5px;
    margin-left:4px;
}
#password-image{
    background-image:url("images/password-image.png");
    width: 28px;
    margin-left:6px;
}
#branch-image{
    background-image:url("images/branch-image.png");
    height:19px;
    margin-left:10px;
    margin-top:3px;
}
#password-field{
    -webkit-text-security: disc;
}
#password-eye{
    color:white;
    width:10px;
    height:5px;
}
#branch{
    text-align-last:center;
    margin-left: 5px;
}
#enterButton{
    background-color:darkred;
    color: white;
    margin-left: 4px;
}