h1{
    font-size: 40px;
    text-align: center;
    color: wheat;
}

.penmen{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-position: center;
}
body{
    background-image: url("img2.jpg");
}
/*#location{
    display: block;
    text-align: center;
}
label{
    display:block;
    text-align: center;
}
*/
.label {
    display: inline-block;
    color: wheat;
}
.input{
    background-color: black;
    color: antiquewhite;
}
#select{
    width: 173px;
    background-color: black;
    color: wheat;
}
#user_ID{
    margin-right: 88px;
}
#entressForm{
    display:block;
    text-align:center;
    margin-left: 90px;
}
#button{
    display: inline-block;
    text-align: right;
    background-position: center;
    margin-left: 40px;
}
.warning{
    margin-left: 40%;
    color: red;
    font-size: small;
}
#entressMessage{
    text-align: center;
}
#LoginPage{
   position: relative;
    background-image: url("images/acibadem.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#LoginTitle{
    float: left;
    margin: 15px 25px 15px 25px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    line-height: 1.421;
    text-shadow: 0.5px 0.866px 1px #000001;
}
#LoginTopLine{
    height: 52px;
    background: url(/v2/Content/site/images/login-top-band-bg.png) repeat-x left bottom;
    position: relative;
    opacity: 70%;
}
#LoginPanel{
    width: 200px;
    height: 380px;
    margin: 50px auto 0  auto;
    padding: 0 60px 50px;
    background-color: teal;
    opacity: 90%;
    border-radius: 6%;
    background-position: center;
    padding-top: 30px;
}
#logo{
    background-image:url("images/penmen.png");
    background-size: cover;
    width:120px;
    height: 120px;
    border-radius: 50%;
    background-position-x:-25px;
    margin-left: 22%;
    
}
#form{
    margin-top: 10px;
}
#userImg{
    background-image: url(/images/img2.jpg);
}
#passImg{
    background-image: url(/images/img2.jpg);
}
.userInput{
    width: 43px;
    height: 39px;
}