#slogan{
    position: relative;
    text-align: center;
    font-size:17px;
    font-weight: bold;
    text-shadow: 0.5px 0.866px 1px red;
    margin-bottom:10px;
}
.penmen{
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-position: center;
}
#entressMessage{
    text-align: center;
}
#LoginPage{
    position: relative;
    background-image: url("images/acibadem.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#LoginTitle{
    float: left;
    margin: 15px 25px 15px 25px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    line-height: 1.421;
    text-shadow: 0.5px 0.866px 1px darkred;
}
#LoginTopLine{
    height: 52px;
    position: relative;
    opacity: 70%;
}
#LoginPanel{
    width: 350px;
    height: 400px;
    margin: 70px auto 0  auto;
    background-color: teal;
    opacity: 90%;
    border-radius: 15px;
    background-position: center;
    padding-top: 30px;
}
#logo{
    background-image:url("images/penmen.png");
    background-size: cover;
    width:120px;
    height: 120px;
    border-radius: 50%;
    background-position-x:-25px;
    margin:auto;
}
#form{
    margin-top:40px;
    text-align: center;
}
.input{
    width:200px;
    height: 25px;
    border-style: outset;
    border-radius:8px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    color:black;
    margin-bottom:10px;
}
::placeholder{
    opacity: 70%;
}
.login-images{
    width:23px;
    height:23px;
    background-size:cover;
    position:absolute;
    margin-left:7px;
    margin-top:3px;
}
#user-image{
    background-image:url("images/user-image.png");
    margin-top:4px;
}
#password-image{
    background-image:url("images/password-image.png");
    height:25px;
}
#branch-image{
    background-image:url("images/branch-image.png");
    height:19px;
    margin-left:4px;    
}
#password-field{
    -webkit-text-security: disc;
}
#password-eye{
    color:black;
    width:10px;
    height:5px;
}
#branch{
    text-align-last:center;
}
#login-button{
    background-color:darkred;
    color: white;
    margin-left:74px;
    height: 30px;
    border-color: darkred;
}
.warning-message{
    width: 400px;
    height: 25px;
    margin-left: 380px;
    text-align: center;
    position: absolute;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    color:white;
    background-color: darkred;
    font-size:20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}