#slogan{
    position: relative;
    text-align: center;
    font-size:17px;
    font-weight: bold;
    text-shadow: 0.5px 0.866px 1px red;
    margin-bottom:10px;
}
html,body{
    height: 100%;
}
#LoginPage{
    position: relative;
    background-image: url("../images/acibadem.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    width: 60%;
    height: 80%;
    margin-left:20%;
}
#LoginTitle{
    float: left;
    font-size: 130%;
    font-weight: bold;
    color: black;
    line-height: 1.421;
    text-shadow: 0.5px 0.866px 1px darkred;
}
#LoginTopLine{
    height: 10%;
    position: relative;
    left:-30%;
    opacity: 70%;
}
#LoginPanel{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: teal;
    opacity: 90%;
    border-radius: 15px;
    background-position: center;
    padding-top: 30px;
}
#logo{
    background-image:url("../images/penmen.png");
    background-size: cover;
    width:40%;
    height: 30%;
    border-radius: 50%;
    background-position-x: 15%;
    margin:0 auto;
}
#form{
    margin-top:10%;
    text-align: center;
}
.input{
    width:50%;
    height: 25px;
    border-style: outset;
    border-radius:8px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    color:black;
    margin-left:auto;
    margin-bottom:10px;
}
::placeholder{
    opacity: 70%;
}
.login-images{
    width:23px;
    height:23px;
    background-size:cover;
    position:absolute;
    margin-left:7px;
    margin-top:3px;
}
#user-image{
    background-image:url("../images/user-image.png");
    margin-top:4px;
}
#password-image{
    background-image:url("../images/password-image.png");
    height:25px;
}
#branch-image{
    background-image:url("../images/branch-image.png");
    height:19px;
    margin-left:6px;
    margin-top:2px;    
}
#toggle-password{
    margin-left:-30px;
    cursor: pointer;}
#branch{
    text-align-last:center;
}
#login-button{
    background-color:darkred;
    color: white;
    margin-bottom:8%;
    height: 6%;
    border-color: darkred;
    cursor: pointer;
}
.warning-message{
    width: 50%;
    height: 3%;
    margin:0 auto;
    margin-bottom:5%;
    position: relative;
    padding: 2% 10% 2% 10%;
    border-radius: 10px;
    color:white;
    background-color: darkred;
    font-size:100%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#create-password,#forgot-password{
    border-style: none;
    background-color: teal;
    color: white;
    margin-left:auto;
    text-align: center;
    cursor: pointer;
    text-indent: -25px;
}
#forgot-password{text-indent:-35px;}
.arrow{
    width: 20px;
    height:20px;
    background-image: url("../images/arrow.svg");
    position:absolute;
    display:black;
    background-size:cover;
    margin-left:-195px;
    margin-top:3px;
}
@media only screen and (max-width: 800px){
    /*for tablets*/
    #LoginPanel, #form{
        width:80%;
    }
}
@media only screen and (max-width: 500px){
    /*for mobile phones*/
    #LoginPanel, #form{
        width:100%;
    }
    #LoginPanel{
        padding:0 10% 0 10%;
        margin-left:-10%;
    }
    .input{
        width: 80%;
    }
    #login-button, #forgot-password, #create-password{
        margin-left : auto;
    }
    #logo{
        height: 20%;
    }
    .warning-message{
        font-size:13px;
    }
    #slogan{
        padding-top: 5%;
    }
    /*
    ->Arrows will be edited
    ->Sizes will be controled again for different devices
    */
}