<h1> Kullanıcı İşlemleri </h1>

<div class="radio-container">
    <mat-radio-group aria-label="Select an option">

        <mat-radio-button value="users" checked (change)="getUsers('users')">Tümü</mat-radio-button>
        <mat-radio-button *ngFor="let type of userTypes" [value]="type.endPoint" (change)="radioChange($event)">
            {{type.value}}
        </mat-radio-button>


    </mat-radio-group>
</div>



<table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column.name" *ngFor="let column of tableColumns">
        <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
        <td mat-cell *matCellDef="let element">

            {{ column.key !== 'actions' ? element[column.key] : ''}}

            <ng-container *ngIf="column.key === 'actions'">
                <button mat-button (click)="editUser(element.id)">Düzenle</button>

                <button mat-button (click)="deleteUser(element.id)">Sil</button>

            </ng-container>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>