.container {
    border: none;
    height: fit-content;
    width: fit-content;
}


th.mat-header-cell {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: black
}

table {
    width: 70%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

h1 {
    font-weight: bold;
    margin-top: 30px;
}

.radio-container {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    justify-content: space-around;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-button {
    background-color: cornflowerblue;
    margin: 5px;
}