<h1> Kullanıcı İşlemleri </h1>

<div class="container">
    <div class= 'checkbox-container'>
        <!-- <app-checkbox-round label = 'All' [id] = "'All'" ></app-checkbox-round>
        <app-checkbox-round label = 'Student' [id] = "'Student'"></app-checkbox-round>
        <app-checkbox-round label = 'Parent' [id] = "'Parent'"></app-checkbox-round>
        <app-checkbox-round label = 'Teacher' [id] = "'Teacher'"></app-checkbox-round> -->
       
        <!-- annd DRY goes for nothing -->
        <div>
            <input type='radio' class = 'checkbox-round' id = 'all' name = 'same' checked = 'true' (click) = "getUsers('users')">
            <label> Tümü </label>
        </div>
        <div>
            <input type='radio' class = 'checkbox-round' id = 'student' name = 'same' (click) = "getUsers('students')">
            <label> Öğrenci </label>
        </div>
        <div>
            <input type='radio' class = 'checkbox-round' id = 'parent' name = 'same' (click) = "getUsers('parents')">
            <label> Veli </label>
        </div>
        <div>
            <input type='radio' class = 'checkbox-round' id = 'teacher' name = 'same' (click) = "getUsers('teachers')">
            <label> Öğretmen </label>
        </div>

    </div>
    <div class="table table-responsive" style = 'display: flex'>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th> TC numarası </th>
                <th> Adı </th>
                <th> Soyadı </th>
                <th> Telefon Numarası </th>
                <th> Email </th>
                <th> Ögrt/Ögr/Veli </th>
                <th> Aksiyon </th>

            </tr>
            <tr *ngFor="let user of users">
                <td> {{ user.id }} </td> 
                <td> {{ user.firstName}} </td>
                <td> {{ user.lastName }} </td>
                <td> {{ user.phoneNumber }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.type }} </td>
                <td>
                <div style = 'display: flex; background: none;'>
                    <app-button color = 'blue' text = 'Detay' (btnClicked)="redirectDetails(user)"></app-button>
                    <app-button color = 'blue' text = 'Sinif Atama' *ngIf="user.type === 'Öğrenci'" (btnClicked) = 'assignClassroom(user)'></app-button>
                </div>

                </td>
            </tr>
        </table>
    </div> 
</div>