
<div class = 'container'>
    <h1> Admin Menüsü </h1>
    <!-- <button class ="btn btn-secondary" (click) = 'getAdminInformation()'> Get admin information </button> -->
    <h2> Dönemler </h2> 

    <div class="table-responsive">
        <table id = 'term-table' class="table table-striped table-bordered table-hover">
          <tr>
            <!-- <th class="shrink">#</th> -->
            <th> Donem Aciklamasi </th>
            <th> Donem Baslangic Tarihi </th>
            <th> Donem Bitis Tarihi  </th>
          </tr>
          <tr *ngFor="let term of terms">
            <td>{{ term.name }}</td>
            <td>{{ term.startDate }}</td>
            <td>{{ term.endDate }}</td>
          </tr>
        </table>
      </div>

    <app-button *ngIf = '!termButtonClicked' text = 'Donem Tanimlama' (click) = "onClick()"></app-button>
    
    <div class="create-term-container" *ngIf = "termButtonClicked" >
       
        <div>
            <label for="term-explanation"> <h3> Donem Aciklama </h3></label>
            <input type="text" class = 'input'  [(ngModel)] ='term.name'> 
        </div>

        <div>
            <label for="term-start-date"> <h3> Baslangic Tarihi </h3></label>
            <input type="date" placeholder = 'dd-mm-yyyy' class = 'input' [(ngModel)] = 'term.startDate'>
        </div>
 
        <div>
            <label for="term-end-date"> <h3> Donem Bitis Tarihi </h3> </label>
            <input type="date" class = 'input' [(ngModel)] = 'term.endDate'>
        </div>
        
        <fa-icon [icon] = 'faTimes' [ngStyle]="{color: 'red'}" (click) = 'termButtonClicked = !termButtonClicked'></fa-icon>
        
        <app-button text = 'EKLE' color = 'red' (btnClicked) = 'addTerm(term)' ></app-button>
    </div>
    {{ termButtonClicked }}

    <app-logout-button></app-logout-button>
</div>