.container {
    border: none;
    height: fit-content;
    width: fit-content;
}

th.mat-header-cell {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: black
}

table,
.mdc-data-table__table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    min-width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mat-mdc-header-cell {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.mdc-data-table__cell {
    text-align: center;
    font-size: 1.1em;
}

.mat-mdc-button {
    background-color: bisque;
    color: white;
    font-size: 0.9em;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100px;
}

h1 {
    font-weight: bold;
    margin-top: 30px;
}

.radio-container {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;
    justify-content: space-around;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-button {
    background-color: cornflowerblue;
    margin: 5px;
}

.form-input {
    justify-content: baseline;
    margin: 10px;
    padding: 10px;
    align-items: center;
}