.title-container{
    margin: auto;
    font-size: 20px;
    color: #800080;
}
.logo-container{
    text-align: left;
}
.logo-container img{
    height: 100px;
}
.button-container{
    display:flex;
    justify-content:center;
}

.container{
    background-color: white;
    display: flex;
    align-items: center;
    border-color: purple;
}
@media  only screen and (max-width: 900px) and (min-width: 700px) {
    .title-container{
        font-size: 60%;
    }
}
@media only screen and (max-width: 500px){
    .container{
        display:block;
        height: fit-content;
        margin-top:0;
    }
    .title-container h1{
        font-size: 20px
    }
    .logo-container{
        text-align: center;
        display: block;
        margin-bottom:20px;
    }
    .logo-container img{
        height: 20%;
        width: 60%;

    }
}