<!-- Modal -->
<div class="modal fade" id="app-modal" tabindex="-1" role="dialog" aria-labelledby="app-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="app-modal-label"> {{ modalTitle }} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ modalBody }}
        </div>
        <div class="modal-footer">
            <app-button color = 'red' text = "KAPAT" data-dismiss = "modal"></app-button>
            <app-button color = 'green' text = '{{ modalButtonText }}' (btnClicked) = 'callSaveChanges()'></app-button>
        </div>
      </div>
    </div>
  </div>
