<div class="login-container">
    <div class = "login-header">
        <div class = "login-title">
            Öğrenci&nbsp;Bilgi&nbsp;Sistemi
        </div>

    </div>
    <div class = 'login-panel' (ngSubmit) = "onSubmit()">
        <div class = "warning-message">
            <app-login-error
                errorType = "{{ errorType }}"
            > 
            </app-login-error>
        </div>

        <div class = 'slogan'> EGITIM DEGISIM & GELISIM </div>
        <div class="logo"></div>
        
        <div>
            <input type="text" name = 'username' [(ngModel)] = 'username' placeholder = 'Kullanici Adi/ TCKN'>
        </div>

        <div>
            <input [type]="showPassword ? 'text' : 'password' " name = 'password' [(ngModel)]='password' placeholder = 'Sifre'/>
            <span id = 'toggle-password' [ngClass] = "showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" aria-hidden="true" (click) = 'showPassword = !showPassword'></span>
        </div>

        <!-- Add a forgot password field that is aligned the left of the login-panel -->
        <div class = 'forgot-password'>
            <a routerLink = '/forgot-password'>
                Sifremi Unuttum
                <span class = 'fas fa-question-circle'
                    aria-hidden="true">
                </span>
            </a>
        </div>

        <div>
            <button class = 'login-button btn' type = 'submit' (click) = 'onSubmit()'> GIRIS 
                <span *ngIf = 'btnClicked' class="spinner-border spinner-border-sm" style = 'margin:auto'></span>
            </button> 
        </div> 
        <div>
            <button class = 'login-button btn' type = 'submit' (click) = "redirectRegister()"> KAYIT OL </button> 
        </div>
    </div>
</div>