
<h1>Sinifa Ders Atama </h1>
<div class = 'container'>
    <h2>Sinif : {{classroom.name}}</h2>

    <div class = 'form-container'>
        <div>
            <h4>Ders Secimi </h4>
            <select class = 'custom-select' [(ngModel)]="section.lecture">
                <option  disabled [selected]='lectures'> Ders secimi </option>
                <option *ngFor="let lecture of lectures" [ngValue] = 'lecture'>
                    {{lecture.name }} ( {{lecture.lectureCode}})
                </option>
            </select>
        </div>
            
        <div>
            <h4> Ogretmen Secimi  </h4>
            <select class = 'custom-select' [(ngModel)]="section.teacher"> 
                <option disabled> Ogretmen secimi </option>
                <option *ngFor="let teacher of teachers" [ngValue] = 'teacher'> 
                    {{teacher.firstName }} {{teacher.lastName }} 

                </option>
            </select>
        </div>
    
        <div>
            <h4> Ders Saati </h4>
            <select class = 'custom-select' [(ngModel)] = 'section.numberOfHours'>
                <option disabled [selected] ='{}'> Ders Saati </option>
                <option> 1 </option>
                <option> 2 </option>
            </select>
        </div>
    
        <div>
            <h4> Ders Gunu </h4>
            <select class = 'custom-select' [(ngModel)] = 'section.day'>
                <option disabled [selected] = 'days'> Ders Gunu </option>
                <option *ngFor="let day of days"> {{ day }}</option>
            </select>
        </div>
        <div>
            <h4> Baslangic Saati </h4>
            <select class = 'custom-select' [(ngModel)]="section.startingTime">
                <option disabled [selected] = 'startingTime'> Baslangic Saati </option>
                <option *ngFor="let time of startingTime"> {{ time }}</option>
            </select>
        </div>
    </div>

    <button type = 'submit' class ='btn' (click) = 'submit()'> submit </button>

</div>
