<p>
    ÇAĞDAŞ YAŞAMI DESTEKLEME DERNEĞİ ÇEDEP KİŞİSEL VERİLERİN KORUNMASI VE İŞLENMESİ MUVAFAKATNAME
a) Kişisel Verilerin Hangi Amaçla İşleneceği
Toplanan kişisel veriler; ÇEP (Çağdaş Eğitimi Destekleme Projesi) tarafından sizlere sağlanan eğitim imkanlarından yararlanmanız amacıyla;
• Yürütülen faaliyetlerin gerçekleştirilmesi için gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi,
• ÇEP tarafından ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimlerimiz tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi, amaçlarıyla (“Amaçlar”) Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenecektir.
b) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği
Toplanan kişisel verileriniz; yukarıda belirtilen amaçların gerçekleştirilmesi doğrultusunda,
bağışçılara, tedarikçilerimize, kanunen yetkili kamu kurumlarına ve kanunen yetkili özel kişilere Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir.
Çağdaş Yaşamı Destekleme Derneği Kadıköy Şubesinin Eğitimi Destekleme Projesi (ÇEDEP) tarafından,
Elektronik Ticaretin Düzenlenmesi hakkındaki kanun uyarınca, her türlü ticari elektronik ileti gönderilmek suretiyle,
tüm iletişim araçları ile tarafınızla iletişime geçilmesine,
bu amaçla paylaşmış olduğunuz bilgilerin
ÇEDEP gizlilik politikası ile kişisel verilerin korunması ve saklanması yasal düzenlemelerine uygun olarak işlenmesine kendim ve velisi bulunduğum oğlum/kızım adına muvafakat ederim.
</p>