<div class="top-line-container">
    <div class = "login-header">
        <div class = "login-title">
            Öğrenci&nbsp;Bilgi&nbsp;Sistemi
        </div>

        <div class = "turn-back-btn-container">
            <button class = "btn" [routerLink]="['/']" routerLinkActive="router-link-active" > Ana Sayfaya Dön </button>
        </div>
    </div>
    <div id = "warning-place">
        <app-login-error
            errorType = "{{ errorType }}"
        > 
        </app-login-error>
    </div>
    <form class = 'login-panel' (ngSubmit) = "onSubmit()">
        <div class = 'slogan'> EGITIM DEGISIM & GELISIM </div>
        <div class="logo"></div>
        
        <div>
            <input type="text" name = 'username' [(ngModel)] = 'username' placeholder = 'Kullanici Adi/ TCKN'>
        </div>

        <div>
            <input [type]="showPassword ? 'text' : 'password' " name = 'password' [(ngModel)]='password' placeholder = 'Sifre'>
            <i id = 'toggle-password' [ngClass] = "showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'" aria-hidden="true" (click) = 'showPassword = !showPassword'></i>
        </div>

        <button class = 'login-button btn' type = 'submit' (click) = 'onSubmit()'> GIRIS 
            <span *ngIf="btnClicked" class = 'spinner-border spinner-sm'> </span>
        </button> 
    </form>
</div>