<h1> {{classroom.name}} Ders Programi </h1>
<div class="container">
    <div class="table table-responsive" style = 'display: flex;'>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th> Gun / Saat </th>
                    <th *ngFor="let day of days">
                        {{day}}
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hour of startingTime; let i = index;">
                    <!-- ng-container will not be added to DOM. -->
                    <ng-container *ngIf="i !== startingTime.length - 1">
                        <td > {{ startingTime [i] }} - {{ startingTime[i + 1] }}</td>
                        <td *ngFor="let day of days">
                            {{ filterSchedule(hour, day) }}
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>

        
    </div> 
</div>
