.container{
    border:none;
}
table,th,td{
    background-color: lightblue;
    padding: 10px;
    border:1px solid black;
    border-collapse: collapse;
    font-weight: bold;
}
th{
    background-color: khaki;
}
td{
    width: 100px;
}
