html,body {
    height: 100%;
    margin: 0; padding: 0;
}
#title-container{
    margin: auto;
    font-size: 20px;
    color: #800080;
}
#logo-container{
    text-align: center;
}
#logo-container img{
    height: 100px;
}
#top-line-container{
    display: flex;
    align-items: center;
}
.body-sentence{
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

#body-container{
    height: 86.4%;
    background-image: url("../assets-img/bg.png");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
 }
#sentence-container{
    text-align: center;
    padding-top: 5%;
}
.button{
    color : #800080;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    border-radius: 30px;
    outline:none;
    cursor: pointer;
}

@media  only screen and (max-width: 900px) and (min-width: 700px) {
    #title-container{
        font-size: 60%;
    }
}
@media only screen and (max-width: 500px){
    #top-line-container{
        display: block;
        text-align: center;
    }
    #title-container{
        font-size: 50%;
    }
    #logo-container img{
        height: 20%;
        width: 60%;
    }
    #body-container{
        margin-top: 3%;
        text-align:center;
    }
    .body-sentence{
        font-size: 80%;
    }
}