<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Admin Paneli</title>
</head>
<body>
        <div id = 'panel-container'>
            <div id = 'panel-top-line-container>'>

            </div>

            <div id = 'user-container'>
                <div id = 'user-records'>
                    <h1> Kullanıcı Bilgileri </h1>
                    <div id = 'user-info-div'>
                        <ul id="list">

                        </ul>
                    </div>
                    <div id = 'save'>
                        <button id = 'save-user-button'> Kaydet </button>
                    </div>

                    <div id = 'delete'>
                        <button id = 'delete-user-button'> Sil </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Jquery JS-->
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src = 'js/register.js'></script>
</body>
</html>