<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name = "description" content = "Fikirtepe öğrenci bilgi sistemi" charset="utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>  Öğrenci Bilgi Sistemi </title>
        <link rel = "stylesheet" href = "css/main.css" type = "text/css">
    </head>
    <body>
        <div id = "LoginTopLine">
            <div id = "logo-container"> <img src = "/assets-img/cagdas-logo.png" height = "80px;" alt="logo"> </div>
            <div id = "login-title"> <h1>Fikirtepe Eğitime Destek Projesi </h1></div>
            <a href = "/register"> <button id = "register-buttonx" type = "button" class = "button"> KAYIT </button></a>
            <a href = "/login"> <button id = "login-buttonx" type = "button" class = "button"> GİRİŞ  </button> </a>
        </div>
        <div id = "full">
            <p style = "margin-left: 10px; font-weight: bold; font-size: 25px; color: chartreuse"> Geleceğin güvencesi; <br> sağlam temellere dayalı bir eğitime, <br>
                eğitim ise öğretmenlere dayanır.<br></p>
            <p1 style = "margin-left: 40px;font-size: large; font-weight: bold; color:chartreuse;"> Mustafa Kemal Atatürk </p1>

        </div>
    </body>
</html>
