<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name = "description" content = "Fikirtepe öğrenci bilgi sistemi" charset="utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <title>  Öğrenci Bilgi Sistemi </title>
        <link rel = "stylesheet" href = "css/main.css" type = "text/css">
    </head>
    <body>
        <div id = "top-line-container">
            <div id = "logo-container"> <img src = "/assets-img/cagdas-logo.png" alt="logo"> </div>
            <div id = "title-container"> <h1>Fikirtepe Eğitime Destek Projesi </h1></div>
            <a href = "/register"> <button id = "register-buttonx" type = "button" class = "button"> KAYIT </button></a>
            <a href = "/login"> <button id = "login-buttonx" type = "button" class = "button"> GİRİŞ  </button> </a>
        </div>
        <div id = "body-container">
            <div id = "sentence-container">
                <p class = "body-sentence"> Geleceğin güvencesi; <br> sağlam temellere dayalı bir eğitime, <br>
                    eğitim ise öğretmenlere dayanır.<br> <p>
                <p class = "body-sentence"> Mustafa Kemal Atatürk </p>

            </div>

        </div>
    </body>
</html>
