<h1>Ders Olusturma </h1>
<div class='container'>


    <form class="add-lecture-form">
        <mat-form-field class="form-input">
            <mat-label>Ders Adı </mat-label>
            <input matInput type="text" [(ngModel)]="lecture.name" name="lectureName">
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label>Ders Kodu </mat-label>
            <input matInput type="text" [(ngModel)]="lecture.lectureCode" name="lectureCode">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addLecture(this.lecture)">Ders Ekle</button>
    </form>

    <table mat-table [dataSource]="lectures" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column.name" *ngFor="let column of tableColumns">

            <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
            <td mat-cell *matCellDef="let element">
                {{ element[column.key] }}
                <ng-container *ngIf="column.key === 'actions'">
                    <button mat-button (click)="onEditLecture(element.id)">Düzenle</button>

                    <button mat-button (click)="onDeleteLecture(element.id)">Sil</button>

                </ng-container>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>
</div>