html, body{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background-image: url("assets/bg.png");
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;

}
.btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.header-btn{
    color : #800080;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    border-radius: 30px;
    outline:none;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(
            45deg,
            rgba(29, 236, 197, 0.5),
            rgba(91, 14, 214, 0.5) 100%
    );
}
.logout-btn, h1{
    text-align: center;
}

input{
    height: 25px;
    border-style: outset;
    border-radius:8px;
    font-size: 90%;
    font-style: normal;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    color:black;
    margin-left:auto;
    margin-bottom:2.2%;
}