<h1> Sınıf Oluşturma </h1>
<div class='container'>

    <form class="add-lecture-form">
        <mat-form-field class="form-input">
            <mat-label> Sınıf Adı </mat-label>
            <input matInput type="text" [(ngModel)]="classroom.name" name="classroomName">
        </mat-form-field>
        <mat-form-field class="form-input">
            <mat-label> Sınıf Kapasitesi </mat-label>
            <input matInput type="number" [(ngModel)]="classroom.capacity" name="classroomCapacity">
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label> Sınıf Yılı </mat-label>
            <input matInput type="number" [(ngModel)]="classroom.grade" name="classroomGrade">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addClassroom(this.classroom)">Sınıf Ekle</button>
    </form>


    <table mat-table [dataSource]="this.classrooms" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column.name" *ngFor="let column of tableColumns">

            <th mat-header-cell *matHeaderCellDef> {{column.name}} </th>
            <td mat-cell *matCellDef="let element of this.classrooms">
                {{ element[column.key] }}
                <ng-container *ngIf="column.key === 'actions'">
                    <button mat-button (click)="shareClassroom(element, 'assign-lecture')"> Ders Atama </button>

                    <button mat-button (click)="shareClassroom(element, 'classroom-schedule')"> Ders Programı</button>

                </ng-container>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

    </table>

</div>