<h1> Sinif Olusturma </h1>
<div class = 'container'>

    <div class = 'create-classroom-container'>
        <app-input type = "text" label = "Sinif Aciklamasi" (onInput) = 'classroom.name = $event'></app-input>
        <app-input type = "number" label = 'Kapasite' (onInput) = 'strCapacity = $event'></app-input>
        <app-input type = "number" label = "Sinif Yili" (onInput) = 'strGrade = $event'></app-input>
        <app-button color = 'green' text = 'Yeni sinif olustur' (btnClicked) = 'addClassroom(classroom)'></app-button>

    </div>

    <div class="table table-responsive" style = 'display: flex;'>
        <table class="table table-striped table-bordered table-hover">
        <tr>
            <th> Sinif Aciklamasi  </th>
            <th> Kapasite  </th>
            <th> Mevcut </th>
            <th> Sinif Yili </th>
            <th> Aksiyon </th>

        </tr>
        <tr *ngFor="let classroom of classrooms">
            <td> {{ classroom.name }} </td> 
            <td> {{ classroom.capacity}} </td>
            <td> {{ classroom.classroomSize }} </td>
            <td> {{ classroom.grade }} </td>
            <td> 
            <div style = 'display: flex;'>
                <app-button color = 'blue' text = 'Ders Tanimlama ' (btnClicked) = 'shareClassroom(classroom)'></app-button>
                <app-button color = 'blue' text = 'Program'></app-button>
            </div>
            </td>
        </tr>
        </table>

        
    </div> 

</div>