.form-input {
    justify-content: baseline;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.mat-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}